[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Name=gpsp4cute
Exec=invoker --single-instance --type=e /opt/gpsp4cute/bin/gpsp4cute
Icon=/usr/share/icons/hicolor/64x64/apps/gpsp4cute.png
X-Window-Icon=
X-HildonDesk-ShowInToolbar=true
X-Osso-Type=application/x-executable
